
.divExame {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.form select {
  color: #000;
  border-radius: 5px;
  margin-right: 40px;
  border: 1px solid #ccc;
  padding: 5px;
  transition: border 0.3s;
  min-width: 160px
}
.form select:focus {
  border: 2px solid orange;
}

.nome {
  width: 1000px;
  margin-bottom: 40px;
}
.form input {
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 40px;
  padding: 5px;
  transition: border 0.3s;
  min-width: 215px;
  height: 40px;
}
.form .shortInput {
  min-width: 100px;
  width: 150px;
}
.btnDiv {
  color: #000;
  text-align: center;
  margin: 25px 0 20px 0;
}

.nome input {
  width: 85%;
}

.form label {
  font-weight: bold;
  color: #000;
  margin-right: 20px;
}