.formContainer {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
}

.chartDiv {
  width: 730px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  height: 360px;
}

.inputDiv {
  width: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 280px;
  overflow: auto;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5px;
  transition: border-color 0.7s;
}
.saveDiv {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  display: flex;
}
.saveBtn {
  height: 50px;
  padding: 5px 50px;
  border-radius: 30px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f97316;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border: none;
}
.saveBtn:hover {
  background-color: #D66B22;
}
.input:focus {
  border: 2px solid #F88D44;
  outline: none;
}
.input::placeholder {
  color: #888;
}
.successToast {
  position: absolute;
  bottom: 2%;
  left: 2%;
}