.menuDiv {
    display: flex;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .button {
    display: flex;
    height: 50px;
    width: 480px;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    background-color: #fff;
    color: #444;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  }
  
  .selected {
    font-weight: 500;
  }
  
  .listItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #555;
    margin: 5px 0px 5px 0;
  }

  .listItem:hover {
    color:#000;
  }

  .textDiv {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 350px;
    flex: 1;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }