.header {
    height: 70px
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
  }
  .menuForm {
    width: 1200px;
    height: 540px;
    border-radius: 8px;
    padding: 0 40px 0 40px;
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .backButton {
    cursor: pointer;
  }
  
  .menuHeader {
    display: flex;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 600;
  }
  
  .sep {
    border-top: 2px solid #AAAAAA40;
    margin: 20px 10px 16px 0;
  }
  
  .headerTitle {
    margin-left: 15px;
    color: #000;
  }