.header {
  height: 70px
}
.menuHeader {
  display: flex;
  margin-top: 30px;
  font-size: 36px;
  font-weight: 600;
}
.menuForm {
  width: 1200px;
  height: 520px;
  border-radius: 8px;
  padding: 0 40px 0 40px;
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sep {
  border-top: 2px solid #AAAAAA40;
  margin: 20px 10px 16px 0;
}

.headerTitle {
  margin-left: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}
.backButton {
  cursor: pointer;
}
.titleBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}